body {
    background-color: #f0f0f0;
}

.page-title {
    background-color: #009587;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.image-container {
    width: 300px;
    height: 225px;
    /* Altura del espacio de carga de imagen para mantener una relación de aspecto 4:3 */
    margin: 2rem auto;
    text-align: center;
    border: 2px solid #009587;
    border-radius: 8px;
    position: relative;
    /*display: none; */  /* Initially hide the image container */
    overflow: hidden; /* Prevent image from overflowing the container */
}

.image-upload {
    display: none;
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.insert-photo-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #009587;
    font-size: 18px;
    cursor: pointer;
}

.data-columns {
    margin-top: 2rem;
}

.btn-consultar {
    background-color: #009587;
    color: #fff;
    transition: background-color 0.3s;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn-consultar i {
    margin-right: 10px;
}

.btn-consultar:hover {
    background-color: #038073;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding: 20px;
}

.popup-inner {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.riesgo-alto {
    color: red;
}

.riesgo-medio {
    color: orange;
}

.riesgo-bajo {
    color: green;
}

#cerrar-popup {
    background-color: #009587;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#cerrar-popup:hover {
    background-color: #0056b3;
}

.btn-consultar-formulario {
    margin-top: 50px
}

.margin-filas {
    margin: 20px 0px 20px 0px;
}

.opciones {
    text-align: center;
}

.btn-choice {
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 10px;
    padding: 10px 20px;
}

.btn-choice:not(.selected) {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}

.btn-choice.selected {
    background-color: #009587;
    border-color: #009587;
    color: #fff;
}

.cuadro-comentarios-medico {
    display: flow;
    text-align: -webkit-center;
}

.btn-bool {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
}

.btn-bool-inf {
    text-align: center;
}

#message-container {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #28a745;
    /* Color de fondo verde (cambia según tus preferencias) */
    color: #fff;
    text-align: center;
    padding: 10px;
    z-index: 9999;
}

.message {
    display: inline-block;
    background-color: inherit;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.message i {
    margin-right: 10px;
}

.message p {
    margin: 0;
}

/* Nuevos estilos añadidos para alinear Sustancias y Estudios en una fila */
.button-row {
    display: flex;
    justify-content: space-around;
    /* Distribuir el espacio alrededor de los contenedores */
    gap: 20px;
    /* Espacio entre los contenedores de botones */
    margin: 20px 0;
    /* Añadir margen superior e inferior */
}

.button-container {
    display: flex;
    justify-content: space-between;
    /* Alinea los botones con espacio entre ellos */
    margin: 10px 0;
    /* Añade un margen superior e inferior para separación */
    flex-direction: column;
    /* Alinea los botones en columna */
}

.button-container-complementarios {
    flex: 1;
    margin: 0 10px;
    /* Espacio lateral entre contenedores de botones */
    text-align: center;
}

.button-container .btn {
    width: 48%;
    /* Ajusta el ancho de los botones para que no se desborden */
    margin-bottom: 0;
    /* Asegúrate de que no haya margen inferior en los botones */
}

/* Asegúrate de que los botones estén alineados horizontalmente en dispositivos móviles */
@media (max-width: 767px) {
    .button-container {
        flex-direction: column;
        /* Cambia a columna en pantallas más pequeñas */
        align-items: stretch;
        /* Alinea los botones a lo ancho del contenedor */
    }

    .button-container .btn {
        width: 100%;
        /* Asegura que los botones ocupen todo el ancho del contenedor */
        margin-bottom: 10px;
        /* Espacio entre botones en dispositivos móviles */
    }
}

.gray-box {
    border: 2px solid #d3d3d3;
    /* Borde gris */
    border-radius: 8px;
    /* Bordes redondeados */
    padding: 15px;
    /* Espacio interno */
    background-color: #f8f8f8;
    /* Fondo ligeramente gris */
}


/* Estilos para pantallas más pequeñas (móviles) */
@media (max-width: 767px) {
    #posibles-causas {
        word-wrap: break-word;
        overflow-x: hidden;
        white-space: pre-wrap;
        width: 100%;
    }
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .button-container {
        display: flex;
        flex-direction: column;
    }

    .button-container .btn {
        width: 100%;
        margin-bottom: 10px;
        /* Espacio entre botones en dispositivos móviles */
    }
}

/* Estilos para dispositivos de escritorio */
@media (min-width: 768px) {
    .button-container {
        display: flex;
        justify-content: space-between;
    }

    .button-container .btn {
        width: 48%;
        /* Ajustar el ancho según tus preferencias */
    }
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .btn-bool-inf {
        flex-direction: column;
    }

    .btn-group {
        display: flex;
        flex-direction: row;
        position: absolute;
    }

    .btn-group button {
        margin: 5px 5px;
    }
}