body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #009587;
  padding: 1rem 2rem;
  color: white;
  font-family: Arial, sans-serif !important;
}

.page-title {
  flex-grow: 1;
  text-align: center;
}

.page-title h1 {
  margin: 0;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.username {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: white;
}

.logout-button {
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: inherit;
  line-height: inherit;
}

@media (max-width: 768px) {
  .page-title {
    margin-bottom: 0.5rem;
  }

  .logout-button {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}

.logout-button:hover {
  background-color: #cac9c9;
  color: black;
}

.title {
  color: #009587;
  text-align: center;
}

.container-page {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 50px;
}

.contenedor {
  flex-wrap: wrap;
  min-width: 250px;
  max-width: 550px;
  width: inherit;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  height: 250px;
}

.button:hover {
  background-color: #1da799b2;
  color: #fff;
}

.button-icon {
  font-size: 3rem;
  color: #000000;
  margin-bottom: 1rem;
}

.button-title {
  color: #000000;
  margin-bottom: 0.5rem;
}

.button-description {
  color: #000000;
}


.btn-custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-custom {
  background-color: #009587;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-family: Arial, sans-serif;
}

.btn-custom:hover {
  background-color: #038073;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.btn-custom:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-back {
  background-color: #ffffffee;
  color: #009587;
  border: 2px solid #009587;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-family: Arial, sans-serif;
}

.btn-back:hover {
  background-color: #0095870d;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.btn-back:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer {
  text-align: center;
  margin-top: auto;
  width: 100%;
  padding: 5px 0;
  position: relative;
  bottom: 0;
  font-size: 1rem;
  font-family: Verdana, sans-serif;
  background-color: #009587;
  color: #fff;
  line-height: 1.2;
}


@media (max-width: 768px) {
  .footer {
    font-size: 0.9rem;
    padding: 4px 0;
  }
}


@media (max-width: 480px) {
  .footer {
    font-size: 0.8rem;
    padding: 3px 0;
  }
}

.multiselect {
  width: 100%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxes {
  border: 1px solid #009587;
  max-height: 100px;
  overflow: auto;
  border-radius: 8px;

}

#check {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 14px;
}

#check:hover {
  background-color: #e9f5f4;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #009587;
  border-radius: 3px;
  outline: none;
  transition: all 0.3s;
  margin-right: 8px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #009587;
}

input[type="checkbox"]:checked::before {
  content: '\f00c';
  font-family: FontAwesome;
  font-size: 12px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selected {
  background-color: #e9f5f4;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  width: 300px;
  background-color: #deebe9f0;
  color: black;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  right: 10%;
  opacity: 0;
  transition: opacity 0.3s;
  border: 2px solid #009587;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #009587 transparent transparent transparent;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.icon-tooltip {
  color: #009587;
}