
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.page-title {
    background-color: #009587;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.container{
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
    
}

.bottom {
    padding:10%;
    
}


.btn-iniciar {
    background-color: #009587;
    color: #fff;
    transition: background-color 0.3s;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.btn-iniciar i {
    margin-right: 10px;
}

.btn-iniciar:hover {
    background-color: #038073;
}

/*.color-box {
    width: 50%;
    border: 2px solid #009587;
    
    border-radius: 8px;

    padding: 7px;
    padding-top: 10%;
 
    background-color: #009587;


    color:#fff;

}

.gray-box {
    width: 50%;
    border: 2px solid #d3d3d3;

    border-radius: 8px;

    padding: 7px;
    padding-top: 7%;

    background-color: #fff;
}*/

.color-box, .gray-box {
    flex: 1; /* Permite que las cajas ocupen el mismo espacio */
    min-width: 300px; /* Ancho mínimo para evitar que se vuelvan demasiado estrechas */
    margin: 10px; /* Margen entre las cajas */
    border-radius: 8px;
    padding: 20px; /* Espacio interno */
}

.color-box {
    border: 2px solid #009587;
    background-color: #009587;
    color: #fff;
}

.gray-box {
    border: 2px solid #d3d3d3;
    background-color: #fff;
}

.box {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 5px;
    background-color: #009587;
    flex-wrap: wrap;
}


.inicio {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.placeholder {
    position: fixed;
    font-style: italic;
}

.sist {
    color:#fff;
}

.error-message-text {
    color: red;
    font-size: 15px;
    display: none;
    align-items: center;
}

@media (max-width: 768px) {
    .container {
        padding: 10px; /* Reducir el padding en pantallas pequeñas */
    }

    .color-box, .gray-box {
        margin: 0 10px; /* Margen lateral */
    }

    .btn-iniciar {
        padding: 15px; /* Ajustar padding del botón */
    }
}

@media (max-width: 480px) {
    .inicio {
        font-size: 18px; /* Ajustar tamaño de fuente */
    }

    .btn-iniciar {
        font-size: 14px; /* Reducir tamaño de la fuente del botón */
        padding: 10px; /* Ajustar el padding */
    }
}